body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav {
  background-color: rgb(142, 141, 141);
  
}

.nav ul {
  list-style: none;
  margin: 0;
}

.nav li {
  display: inline-block;
  border: 1px rgb(152, 105, 105) solid;
  border-radius: 50px;
  padding: 8px;
  margin: 0;
  font-weight: 700;
}

.nav li:hover {
  background-color: rgb(237, 213, 213);
}

.nav a {
  text-decoration: none;
  color: black;
}

.headder {
  background-color: rgb(208, 204, 204);
  margin: 0;
  display: block;
  text-align: center;
}

h3 {
  padding: 70px 0;
  display: inline-block;
  
}

.headder h1 {
  margin: 0;
}

.room1 .room3 {
  float: left;
  display: block;  
}

.room2 {
  float: right;
}


.main {
  border: 1px black solid;
  margin-left: 30px;
  margin-right: 30px;
}

img {
  display: block;
  float: left;
}

.main1 h3 {
  
}

.main3 h3 {
  margin-left: 250px;
}

